# --- Python / Virtual Environment ---
__pycache__/
*.py[cod]
*$py.class
.env

# --- Vector Database
chroma_dbs/    
chroma_db_agentic  

# --- Data & Logs ---
# 원본 데이터 폴더
data/
logs/
*.log

# --- IDE & Editor ---
.vscode/
.idea/

# --- PDF Processing Temp Files ---
*.png
*.jpg
*.jpeg
*.csv
temp/
temp_pdf/      

# --- Others ---
.DS_Store
dist/
build/
*.egg-info/